.header {
  margin-top: 15px;
}
nav .items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.menu-link {
  margin-right: 15px;
  padding-bottom: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: right;
  text-transform: uppercase;

  color: #4d4d4d;
}
.menu-link:hover {
  cursor: pointer;
  color: #ee7430;
  text-decoration: none;
  border-bottom: 3px solid #ee7430;
}
.active .menu-link {
  color: #ee7430;
  border-bottom: 3px solid #ee7430;
}
.number {
  text-align: right;
}
.number a {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #4d4d4d;
  text-decoration: none;
}
.menu-toggle {
  display: none;
}
.content {
  margin-top: 60px;
}
.content .content-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #4d4d4d;
  margin-top: 90px;
}
.content .btn {
  width: 255px;
  height: 40px;
  margin-top: 30px;
  background: #ee7430;
  box-shadow: 5px 5px 5px rgba(77, 77, 77, 0.15);
}
.content .btn .link-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}
.content .image {
  filter: drop-shadow(10px 10px 15px rgba(77, 77, 77, 0.15));
  border-radius: 169px 0px;
  width: 100%;
}
#news {
  margin-top: 66px;
}
#news .icon-arrow {
  fill: #fff;
  height: 22px;
  width: 22px;
}
#news .icon {
  fill: #4d4d4d;
  height: 22px;
  width: 22px;
}
aside .text-call {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4d4d4d;
}
aside .news-call {
  margin-top: -130px;
}
aside .items-call {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
aside .item-call {
  margin-left: 22px;
}
aside .news-block {
  position: relative;
  width: 55%;
  height: 130px;
  background: #277e89;
}
#news .page-news {
  /* display: flex; */
  margin-top: 35px;
}
#news .page {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}
#news .page .page-news-active {
  color: #ee7430;
}
#news .news-page-split {
  width: 67px;
  height: 3px;
  margin-top: -3px;
  margin-left: 18px;
  background: #ffffff;
  transform: rotate(-90deg);
  border: none;
}
#news .text-news .text {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  color: #fff;
}
#news .text-news {
  margin-top: 30px;
  margin-left: 10px;
}
#news .text-news .data {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
}
#news .news-arrow {
  margin-top: 54px;
  cursor: pointer;
}
.slider-news {
  position: relative;
}
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: justify-content-between;
  align-items: center;
}
.news-arrow .slick-next {
  background: transparent;
  border: none;
}
.news-arrow .slick-next:fokus {
  border: none;
}
.header-lg {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
  color: #277e89;
  /* margin-top: 90px; */
}
.about {
  margin-top: 90px;
}
.about .about-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4d4d4d;
  margin-top: 60px;
}
.about-stat {
  padding-top: 110px;
  background: url("../img/1200px-Yugra_Subdivisions\ 1.png") no-repeat;
  background-size: 100%;
}
.about .about-item {
  position: relative;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 95px;
  color: #ee7430;
  text-shadow: 5px 5px 5px rgba(77, 77, 77, 0.15);
}
.about .about-stat-text {
  top: 65px;
  left: 58px;
  position: absolute;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #277e89;
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(77, 77, 77, 0.15);
  padding: 5px;
}
.services .services-block {
  position: relative;
  width: 37%;
  height: 162px;
  background: #277e89;
}
.services {
  position: relative;
}
.services::before {
  content: "";
  position: absolute;
  width: 37%;
  height: 162px;
  background: #277e89;
  margin-top: -30px;
  margin-left: -30px;
}
#services {
  margin-top: 90px;
  background: url("../img/savings-2789112_1920\ 1.png") no-repeat;
  background-size: cover;
  filter: drop-shadow(15px 15px 15px rgba(77, 77, 77, 0.15));
  border-radius: 0px 200px 0px 90px;
}
.services .services-head {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 60px;
  padding-left: 30px;
}
.services .services-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-top: 60px;
  padding-left: 30px;
  padding-bottom: 40px;
}
.services .btn {
  padding-left: 30px;
}
.services .services-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
}
.services .services-btn-active,
.services-btn:hover {
  background: #ee7430;
  border: none;
  padding: 11px 21px;
}
.videoblog {
  margin-top: 90px;
}
.videoblog .videoblog-block {
  position: relative;
  width: 540px;
  height: 300px;
  background: #277e89;
  border-radius: 150px 0px;
}
.videoblog .video {
  margin-top: 60px;
  width: 100%;
  position: relative;
}
.block-video::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: 45px;
  width: 98%;
  height: calc(100% - 45px);
  background: #277e89;
  border-radius: 150px 0px;
  box-shadow: 1px 1px 5px #000;
  margin-top: 45px;
  margin-left: -45px;
}
.videoblog .videoblog-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4d4d4d;
  margin-top: 60px;
}
.videoblog .btn {
  align-items: center;
  margin-top: 40px;
}
.videoblog .videoblog-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ee7430;
  border: 1px solid #ee7430;
  box-shadow: 5px 5px 5px rgba(77, 77, 77, 0.15);
  padding: 10px 35px;
}
.feedback {
  margin-top: 130px;
}
.rewiew-1::before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 200px;
  height: 200px;
  background: #ee7430;
  margin-top: -45px;
  margin-left: calc(100% - 215px);
}
.rewiew-3::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 150px;
  z-index: -10;
  background: #277e89;
  margin-top: -45px;
  margin-left: calc(100% - 215px);
}
.feedback .rewiew-block-2 {
  position: relative;
  width: 200px;
  height: 200px;
  background: #277e89;
  margin-top: -185px;
}
.feedback .rewiew {
  position: relative;
  width: 90%;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #ee7430;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(77, 77, 77, 0.15);
}
.feedback .rewiew-1 {
  border-radius: 0px 0px 150px 0px;
  margin-top: 90px;
}
.feedback .rewiew-2 {
  border-radius: 0px 150px 0px 0px;
  margin-top: 60px;
  z-index: 2;
  margin-left: 15px;
  position: relative;
}
.feedback .rewiew-3 {
  background: #ee7430;
  border-radius: 0px 0px 150px 0px;
  margin-top: 90px;
}
.feedback .rewiew-person {
  display: flex;
}
.feedback .rewiew-person .photo img {
  border-radius: 400px;
  margin-right: 15px;
}
.feedback .rewiew-person .rewiew-info .name {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #277e89;
  margin-bottom: 10px;
}
.feedback .rewiew-person .rewiew-info .name-3 {
  color: #4d4d4d;
}
.feedback .rewiew-person .rewiew-info .company {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #4d4d4d;
  margin-bottom: 14px;
}
.feedback .rewiew-person .rewiew-info .company-3 {
  color: #ffffff;
}
.feedback .rewiew-person .rewiew-info .data {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 14px;
  color: #4d4d4d;
}
.feedback .rewiew-person .rewiew-info .data-3 {
  color: #ffffff;
}
.feedback .rewiew-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;
  margin-top: 15px;
  color: #4d4d4d;
}
.feedback .rewiew-text-3 {
  color: #ffffff;
}
.feedback .rewiew-theme {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
}
.feedback .rewiew-theme-1 {
  color: #ee7430;
}
.feedback .rewiew-theme-2 {
  color: #277e89;
}
.feedback .rewiew-theme-3 {
  color: #4d4d4d;
}
.feedback .rewiew-page {
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
}
.feedback .rewiew-page .page {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #4d4d4d;
}
.feedback .rewiew-page .page .page-active {
  color: #ee7430;
}
.feedback .rewiew-page .icon {
  fill: #4d4d4d;
  height: 25px;
  width: 25px;
  margin-top: 10px;
  cursor: pointer;
}
.feedback .rewiew-page .icon-back {
  transform: rotate(180deg);
  margin-right: 30px;
}
.feedback .rewiew-page .icon-front {
  margin-left: 30px;
}
.request {
  margin-top: 90px;
}
.request-block {
  position: absolute;
  z-index: 1;
}
.request-block::after {
  content: "";
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: end;
  width: 500px;
  height: 146px;
  background: #277e89;
  padding-left: 60px;
  padding-top: 80px;
  margin-left: -45px;
  margin-top: -140px;
  z-index: 1;
}
.request .image {
  position: relative;
  filter: drop-shadow(10px 10px 15px rgba(77, 77, 77, 0.15));
  border-radius: 200px 0px;
  margin-top: 30px;
  width: 100%;
  z-index: 2;
}
.request .request-head {
  text-align: right;
}
.request form {
  margin-left: 75px;
  margin-top: 45px;
}
.request form .btn {
  width: 255px;
  height: 40px;
  margin-top: 10px;
  background: #ee7430;
  box-shadow: 5px 5px 5px rgba(77, 77, 77, 0.15);
}
.request form .btn .link-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}
.request .form-control {
  margin-top: 15px;
  height: auto;
  border-color: #ee7430;
  padding: 12px;
  line-height: 16px;
  font-size: 14px;
}
.request form .message {
  height: 100px;
}
.request input::placeholder,
textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4d4d4d;
  margin-top: 0;
}
.request .request-callback {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #fff;
}
.request .icon {
  fill: #fff;
  height: 22px;
  width: 22px;
  margin-right: 20px;
}
.request .items-call {
  display: flex;
  margin-left: 15px;
}
.contacts {
  margin-top: 120px;
}
.contacts .contacts-item {
  margin-top: 113px;
}
.contacts .icon {
  fill: #ee7430;
  height: 30px;
  width: 30px;
}
.contacts .item-call {
  display: flex;
}
.contacts .item-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #4d4d4d;
  padding-left: 15px;

  margin-bottom: 30px;
}
.contacts .map img {
  width: 100%;
  margin-top: 100px;
}
#info {
  margin-top: 90px;
}
#info .block {
  position: relative;
  width: 80%;
  height: 174px;
  background: #ee7430;
  box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.15);
}
#info .block-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
  margin-top: 47px;
  color: #ffffff;
}
#block {
  margin-top: -174px;
}
#info .items {
  display: flex;
  margin-top: 69px;
  margin-left: 55px;
}
#info .icon {
  fill: #fff;
  height: 40px;
  width: 40px;
}
.partners {
  margin-top: 90px;
}
.partners .partners-head {
  text-align: right;
}
.partners .items {
  margin-top: 58px;
}
.partners .item {
  margin-right: 20px;
}
.footer {
  margin-top: 90px;
  background: #828282;
}
.footer .name {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.9);
}
.footer .copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 30px;
}
.footer .footer-link {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.footer .items {
  margin-top: 30px;
}
.footer .footer-items {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: flex-end;
}
.footer .item {
  padding-left: 30px;
}
.footer .footer-call {
  text-align: right;
  margin-bottom: 34px;
  display: flex;
  justify-content: flex-end;
}
.footer .telephone {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
}
.footer .icon {
  fill: #fff;
  height: 22px;
  width: 22px;
}
.footer .item-call {
  margin-left: 20px;
}
@media (max-width: 1200px) {
  #info .block-text {
    font-size: 38px;
    line-height: 47px;
    margin-top: 20px;
  }

  .number a {
    font-size: 18px;
  }
  .menu-link {
    font-size: 16px;
  }
  .block-video::before {
    height: calc(100% - 120px);
  }
}
@media (max-width: 991px) {
  .footer .footer-call {
    justify-content: flex-start;
  }
  .footer .item {
    padding-left: 20px;
  }
  #info .block-text {
    font-size: 38px;
    line-height: 47px;
    margin-top: 20px;
  }
  #info .items {
    margin-top: 10px;
  }
}

@media (max-width: 990px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    margin-top: 30px;
  }
  .menu-toggle span {
    height: 2px;
    width: 100%;
    background-color: #4d4d4d;
  }
  nav .items,
  .number {
    display: none;
  }
  nav .visible {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  .menu .item {
    margin-bottom: 5px;
  }
  .menu-link {
    padding-bottom: 5px;
  }
  .content .image {
    border-radius: 80px 0px;
  }
  .content .content-text {
    font-size: 24px;
    margin-top: 10px;
    line-height: 28px;
  }
  .content .btn {
    width: 180px;
    height: 40px;
    margin: 0;
  }
  .content .btn .link-btn {
    font-size: 14px;
    line-height: 16px;
  }
  aside .news-block {
    width: 75%;
  }
  aside .items-call {
    justify-content: flex-start;
    text-align: left;
  }
  aside .items-call {
    margin-top: 45px;
  }
  .header-lg {
    font-size: 36px;
    line-height: 43px;
  }
  .about .about-text {
    font-size: 14px;
    line-height: 16px;
    margin-top: 30px;
  }
  .about .about-item {
    font-size: 48px;
    line-height: 57px;
  }
  .about-stat {
    margin-top: 30px;
    padding-top: 30px;
  }
  .about .about-stat-text {
    top: 41px;
    left: 34px;
    font-size: 14px;
    line-height: 17px;
  }
  .services .services-head {
    font-size: 36px;
    line-height: 43px;
    padding-top: 30px;
    padding-left: 15px;
  }
  .services .services-block {
    width: 75%;
  }
  .services .services-text {
    font-size: 14px;
    line-height: 16px;
    padding-top: 30px;
    padding-left: 15px;
  }
  .services .btn {
    padding-left: 15px;
    margin-bottom: 15px;
  }
  .services .services-btn {
    font-size: 14px;
    line-height: 16px;
  }
  .videoblog .video {
    margin-top: 30px;
  }
  .videoblog .videoblog-text {
    font-size: 14px;
    line-height: 16px;
    margin-top: 45px;
  }
  .videoblog .videoblog-block {
    width: 70%;
    height: 186px;
    border-radius: 80px 0px;
  }
  .videoblog .btn {
    text-align: center;
    margin-top: 30px;
  }
  .videoblog .videoblog-btn {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 35px;
  }
  .block-video::before {
    height: calc(100% - 80px);
  }
  .feedback {
    margin-top: 90px;
  }
  .request .image {
    border-radius: 80px 0px;
  }
  .request .request-head {
    margin-left: 100px;
  }
  .request form {
    margin-top: 30px;
    margin-left: 0;
  }
  .request form .btn {
    width: 181px;
  }
  .request form .btn .link-btn {
    font-size: 14px;
    line-height: 16px;
  }
  .request input::placeholder,
  textarea::placeholder {
    font-size: 16px;
    line-height: 19px;
  }
  .request .request-callback {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  .request .icon {
    fill: #fff;
    height: 22px;
    width: 22px;
    margin-right: 15px;
  }

  .contacts .contacts-item {
    margin-top: 30px;
  }
  .contacts .item-call {
    display: flex;
  }
  .contacts .item-text {
    font-size: 16px;
    line-height: 19px;
  }
  .contacts .map img {
    margin-top: 30px;
    margin-left: -15px;
  }
  #info {
    margin-top: 90px;
  }
  #info .block {
    position: relative;
    width: 100%;
    height: 239px;
    background: #ee7430;
    box-shadow: 10px 10px 15px rgba(77, 77, 77, 0.15);
  }
  #info .block-text {
    font-size: 36px;
    line-height: 43px;
    margin-top: 30px;
  }
  #block {
    margin-top: -244px;
  }
  #info .items {
    display: flex;
    margin-top: 21px;
    margin-left: 50%;
  }
  #info .icon {
    fill: #fff;
    height: 30px;
    width: 30px;
  }
  .partners .items {
    margin-top: 30px;
  }
  .partners .item {
    height: 45px;
  }
  .footer {
    margin-top: 30px;
  }
  .footer .name {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
  .footer .copyright {
    font-size: 14px;
    line-height: 16px;
    margin-top: 15px;
  }
  .footer .footer-link {
    font-size: 16px;
    line-height: 19px;
  }
  .footer .footer-items {
    display: block;
  }
  .footer .item {
    padding-left: 0;
  }
  .footer .item {
    margin-bottom: 15px;
  }
  .footer .telephone {
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
    text-align: right;
  }
  .footer .item-call {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .footer .footer-call {
    justify-content: flex-end;
  }

  #info .items {
    margin-top: 10px;
    margin-left: 40%;
  }
  .request-block::before {
    width: 400px;
  }
}
@media (max-width: 400) {
  .request .items-call {
    display: block;
  }
}
